<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Ataraxia - archivo musical</title>           
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}frontend/css/style.css" media="screen" />
	<link rel="icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon" />
</head>
<body>
	<p>Para <a href="https://github.com/aleph1888/ataraxia_archive/commits/master">Coders</a>.</p>
	<p>Para <a href="http://aleph1888.github.io/ataraxia_archive/">Adultos</a>.</p>
	<p>Para el resto:</p>
	<div style="text-align:center;width:100%"><img src="{{ STATIC_URL }}front.png"></div>
</body>
</html>